.home {
  padding-top: 160px;
}

.title {
  color: #ebeef5;
  font-size: 64px;
  margin-bottom: 16px;
  font-weight: 600;
}

.desc {
  font-size: 16px;
  color: #8e95a9;
  max-width: 588px;
  margin-bottom: 24px;
  line-height: 150%;

  span {
    color: #9c92f8;
  }
}
