@import '../../styles/variables';
@import '../../styles/mixins';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 0;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navbar {
  display: flex;
  gap: 16px;

  &__item {
    @include link-regular;
    color: $color-grey-200;
    padding: 12px 16px;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $color-grey-50;
    }
  }

  .suggest {
    position: relative;

    &::after {
      content: '→';
      position: absolute;
      top: 50%;
      transform: translateY(-55%);
      right: -10px;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      &::after {
        right: -15px;
      }
    }
  }
}

.logo {
  display: grid;
  grid-area: auto;
}
