#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #121829;
  background-image: url('/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 22px;
}
